header
{
	color: indigo;
	text-align: center;
	background-color: darkgoldenrod;
	border: 10px inset crimson;
	padding: 30px;
	margin-bottom: 20px;
	width: 75%;
	height:150px;float: right;
}
.pic
{background-color: darkolivegreen;
 margin-top: 10px;
 border: 10px inset darkseagreen;
 text-align: center;
 font-size: auto;
 width: 46%;
 height: 300px;
 float: left;
 padding: 10px;
}
.sidebar
{ margin-top: 10px;
	background-color: limegreen;
	width: 46%;
	height: 300px;
	float: right;
	text-align: left;
	padding: 10px;
	border: 10px inset crimson;
}
.bottom
{border-top: black;
	border-bottom: black;
	background-color: yellowgreen;
	float: right;
	text-align: center;
	margin-top: 10px;
	width: 46%;
	height: 320px;
	padding: 10px;
	border: 10px inset blueviolet;
	font-style: bold;

}

article p {
	text-align: center;
	font-size:200%;
	color: black;
}
.logo
{background-color: snow;
	border: 10px inset darkred;
	height: 210px;
	float: left;

}
.bottomsec
{
	background-color: lightseagreen;
}